.header {
    display: flex;
    background-color: black;
    width: 505px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

img {
  width: 505px;
}